<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>病例系统</title>
      <link rel="stylesheet" type="text/css" href="/static/lib/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/material-design-icons/css/material-design-iconic-font.min.css"/>
    <link rel="stylesheet" href="/static/css/app.css" type="text/css"/>
</head>
<body style="text-align: center;" >
<h1>病例系统</h1>
<div style="text-align: center;width: 100%;">
    <h2 class="desc"><a href="/add/br">新增病人</a></h2>
    <h2 class="desc"><a href="/add/yf">新增药方</a></h2>
    <h2 class="desc"><a href="/add/yp">新增药品</a></h2>
    <h2><a href="/query/zz">症状查询</a></h2>
    <h2><a href="/query/yf">药方查询</a></h2>
    <h2><a href="/query/yp">药品查询</a></h2>
    <h2><a href="/query/person">姓名查询</a></h2>
</div>
</body>
</html>