<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询症状</title>
   <script src="/static/jquery.min.js"></script>
</head>
<body>
<p><a href="/">回到首页</a></p>
<h1>查询症状</h1>
<form action="/add/person" method="post">


    <textarea name="zz" id='zz' style="width:200px;height:80px;" placeholder="在这填写症状"></textarea>
    <p><input type="button" value="查询旧药方" id="queryYF" name="queryYF"/></p>
    <div id="YFs">

    </div>

</form>
<script>
    $('#queryYF').click(function () {
        var var_zz = document.getElementById('zz').value

        $.getJSON('/query/yf', {'zz': var_zz}, function (res) {
            var tab = document.getElementById('YFs')
            p = ''
            for (i = 0; i < res.data.length; i++) {
                yf = res.data[i]
                p = p +"<p>症状：" +yf.zz + "<span>  </span>药方：" + yf.yf
            }
            tab.innerHTML = p

        })
    })
</script>

</body>
</html>